@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
  }

  .titleBar {
    background: #333333;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #ddd;
    color: black;
  }

  .titleBar {
    background: #ddd;
  }

}
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-user-select: none;
  overflow-y: hidden;
}

.titleBar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  display: flex;
  justify-content: space-between;
  .left-title {
    display: flex;
    align-items: center;
    -webkit-app-region: no-drag;

    .icon-image {
      width: 24px;
      height: 24px;
      padding: 8px;
    }
    .left-menu {
      margin-left: 15px;
      display: flex;
      align-items: center;
      .menu-item{
        padding: 8px;
      }
      .menu-item:hover {
        background: #888;
        border-radius: 10%
      }

      @media (prefers-color-scheme: light) {
        .sub-menus {
          position: absolute;
          background: #ddd;
          padding: 10px;
          border-radius: 10px;
          top: 50px;
          z-index: 100;
          border: #222 1px solid;
        }
      }
      @media (prefers-color-scheme: dark) {
        .sub-menus {
          position: absolute;
          background: #333;
          padding: 10px;
          border-radius: 10px;
          top: 50px;
          z-index: 100;
          border: #222 1px solid;
        }
      }
    }
  }

  .right-title {
    display: flex;
    align-items: center;
    -webkit-app-region: no-drag;

    .traffic-light {
      padding: 8px;
    }
    .traffic-light:hover {
      background: #2222;
      border-radius: 20%;
    }
  }
}
