.content {
  height: 100%;
  display: flex;
  justify-content: space-between;

  .left-panel {
    flex-grow: 1;
    background-color: #f2f2f2;
    min-width: 400px;
    max-width: 400px;

    &__header {
      padding: 20px;
      display: flex;
      justify-content: center;
      align-content: center;

      &__search-input {
        padding: 5px;
        background: #aba7a7;
        border: none;
        cursor: pointer;
        outline: none;
      }

      &__search-icon {
        padding: 5px;
        width: 25px;
        background: #aba7a7;
        border: none;
        cursor: pointer;
        outline: none;

      }

    }

    &__content {
      height: 100vh;
      overflow-y: auto;

      .main-libs {
        .item-container {
          //padding: 10px;
          padding-left: 10px;
          padding-top: 7px;
          //border: 2px solid #e0e0e0;
          margin-left: 20px;

          .item {
            padding-left: 2px;
            width: 100%;

            .item-expand {
              cursor: pointer;
              padding-left: 2px;

              svg {
                width: 12px;
                height: 12px;
                margin-bottom: 2px;
                margin-right: 7px;
              }
            }

            .item-text {
              cursor: pointer;
              margin-left: 7px;

            }

            &:hover {
              background: #e0e0e0;
            }
          }

        }

      }

    }

  }

  .middle-panel {
    flex-grow: 1;
    min-width: 300px;
    max-width: 300px;

    .main-files {
      padding: 20px;

      .file-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__text {
          font-size: 20px;
          font-weight: 600;
          padding: 10px;

        }
      }
      .files-container {
        height: 100vh;
        overflow-y: auto;
        .item-container {
          padding: 10px;
          border: 2px solid #eeeeee;
          margin-bottom: 10px;

          .item {
            cursor: pointer;

            .item-text {
              margin-left: 7px;

            }
          }

          &:hover {
            background: #e0e0e0;
          }
        }

      }
    }
  }

  .right-panel {
    flex-grow: 1;
    background: #222222;
  }
}
