.content {
  height: 100%;
  display: flex;
  justify-content: space-between;

  .left-panel {
    flex-grow: 1;
    background-color: #f2f2f2;
    min-width: 400px;
    max-width: 400px;
    &__header {
      padding: 20px;
      display: flex;
      justify-content: center;
      align-content: center;

      &__search-input {
        padding: 5px;
        background: #aba7a7;
        border: none;
        cursor: pointer;
        outline: none;
      }

      &__search-icon {
        padding: 5px;
        width: 25px;
        background: #aba7a7;
        border: none;
        cursor: pointer;
        outline: none;

      }

    }

    &__content {
      height: 100vh;
      overflow-y: auto;
      .main-libs {
        .item-container {
          padding: 10px;
          //border: 2px solid #e0e0e0;
          margin-left: 20px;

          .item {
            display: inline-block;

            .item-text {
              cursor: pointer;
              margin-left: 7px;
              &:hover {
                border-radius: 20%;
                background: #e0e0e0;
              }
            }
          }
        }

      }

    }

  }

  .middle-panel {
    flex-grow: 1;
    background: #333333;
  }

  .right-panel {
    flex-grow: 1;
    background: #222222;
  }
}
